[submodule "ThirdParty/Klein"]
    path = ThirdParty/Klein
    url = https://github.com/unclejimbo/Klein.git
    ignore = all
[submodule "ThirdParty/gtest"]
    path = ThirdParty/gtest
    url = https://github.com/google/googletest.git
    ignore = all
[submodule "ThirdParty/OBJ-Loader"]
    path = ThirdParty/OBJ-Loader
    url = https://github.com/Bly7/OBJ-Loader.git
    ignore = all
[submodule "ThirdParty/stlloader"]
    path = ThirdParty/stlloader
    url = https://github.com/dacunni/stlloader.git
    ignore = all
